.content {
  width: 1440px;
  height: 805px;
}
.content__fotofon {
  position: absolute;
  top: 0px;
  z-index: -1;
}
.content__fonelement {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.content__boxvektor {
  position: absolute;
  left: 0px;
  top: 594px;
}
.content__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__take {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 230px;
}
.content__p {
  font-family: "Maven Pro";
  font-size: 56px;
  font-weight: 700;
}
.content__p2 {
  color: red;
}
.content__blokmini {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.content__quate{
  margin-right: 16px;
}
.content__txt {
  font-family: "Maven Pro";
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}
.content__onefoto {
  position: absolute;
  left: 900px;
  top: 127px;
}
.content__square {
  position: absolute;
  top: 364px;
  left: 765px;
}
.content__stroke {
  position: absolute;
  top: 420px;
  left: 850px;
}
.content__job {
  position: absolute;
  top: 490px;
  left: 830px;
  z-index: 1;
  font-family: "Maven Pro";
}
.content__square2 {
  position: absolute;
  top: 600px;
  left: 1144px;
}
.container__level{
  position: absolute;
  left: 166px;
  top: 895px;
}
.container__box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 95px;
  margin-left: 165px;
}
.container__minibox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Maven Pro";
  margin-left: 123px;
}
.container__p{
  color: red;
}
.container__p1{
  font-family: "Maven Pro";
  font-size: 36px;
  font-weight: 600;
  margin-top: 8px;
}
.container__p2{
 color: #7D7C7C;
 font-size: 16px;
 font-weight: 400;
 margin-top: 8px;
}
.container__p3{
  color: #7D7C7C;
  font-size: 16px;
  margin-top: 21px;
}
.container__p4{
  color: black;
  font-size: 16px;
  margin-top: 3px;
}
.container__p4>span{
  font-family: 'Rouge Script';
  margin-left: 54px;
}
.container__p5{
  color: #7D7C7C;
  font-size: 10px;
}
.container__element{
  position: absolute;
  left: 1119px;
top: 1031px;
}
.serviceblok{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 172px;
}
.serviceblok__miniblock{
  font-family: "Maven Pro";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serviceblok__our{
  color: red;
}
.serviceblok__text{
  color: black;
  font-weight: 600;
  font-size: 24px;
}
