.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.footer_top{
    display: flex;
    align-items: flex-start;
    margin-top: 84px;
    column-gap: 150px;
}
.footer_blok1{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.footer_blok1txt{
    font-family: 'Nunito';
font-weight: 400;
font-size: 14px;
line-height: 19px;
max-width: 209px;
color: #595954;
margin-top: 29px;
margin-bottom: 17px;
}
.footer_p{
    font-family: 'Nunito';
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: #171721;
}
.footer_blok_p{
    font-family: 'Nunito';
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #595954;
margin-top: 20px;
}
.footer_blok_p2{
    font-family: 'Nunito';
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #595954;
margin-top: 20px;
padding-left: 15px;
}
.footer__gmail{
    position: absolute;
    top: 4120px;
    left: 1070px;
}
.footer__contacts{
    position: absolute;
    top: 4150px;
    left: 1070px;
}
.footer__end{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1108px;
    margin-top: 64px;
    border-top:1px solid #EDEDED;;
}
.footer__end_p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 30px;
color: #595954;
    padding-top: 10px;
   
}
.footer__vektor{
    z-index: -1;
    position: absolute;
left: 1090px;
top: 4080px;;
}