.header {
  position: relative;
  display: flex;
}
.header__icon {
  position: absolute;
  left: 189.27px;
  top: 30px;
}
.header__menu_level {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  left: 540px;
  top: 10px;
}
.level {
  margin: 37px;
}
.header__menu_img {
  position: absolute;
  left: 599px;
  top: 65px;
}
.header__work {
  position: absolute;
  left: 1090px;
  top: 30px;
}
.header__level {
  position: absolute;
  left: 1244px;
  top: 39px;
}
