.header {
  display: flex;
  align-items: f;
  justify-content: space-between;
  margin-top: 0px;
}
.header__icon {
  margin-left: 166px; 
  margin-top: 5px;
}
.header__menu_level {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-left: 50px;
  font-family: 'Maven Pro';
}
.level {
  margin: 37px;
}
.header__work{
  margin-top: 20px;
  margin-left: 100px;
}
.header__level{
  margin: 10px;
  margin-right: 420px;
}
