.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  margin-left: 166px;
  margin-top: 0px;
}
.header__menulevel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 50px;
  font-family: "Maven Pro";
}
.level {
  margin: 37px;
}
.header__menuimg {
  position: absolute;
  left: 425px;
  top: 55px;
}
.header__work {
  margin-top: 20px;
  margin-left: 280px;
}
.header__level {
  margin-top: 20px;
  margin-right: 100px;
}
